##
# .editorconfig
#
# This file declares project configurations settings like indentation
# (tabs vs spaces), indentation size, and whether to trim trailing whitespace
# at the end of file lines.
#
# This file is useful as a way to agnostically declare project settings, as it
# can be consumed and applied by a wide variety of IDEs, text editors and
# command line editing programs.  For example, if you write code in WebStorm,
# the IDE will automatically see this file and apply the settings, so you 
# don't have to worry about whether the code you're writing adheres to project
# settings.
#
# editorconfig.org
##

root = true

[*]
indent_style = space
indent_size = 2
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true
